<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Miracle.Arguments" version="5.0.0.2" targetFramework="net40" />
  <package id="Miracle.Macros" version="4.0.0.1" targetFramework="net40" />
  <package id="NServiceBus" version="4.4.2" targetFramework="net40" />
  <package id="NServiceBus.Interfaces" version="4.4.2" targetFramework="net40" />
</packages>